@import 'flatly/vars';

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'flatly/theme';

@import 'vars';


body {
  background: $white;
  color: $black;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#skeleton{
margin-top: 58px;

  // For larger displays.
  // TODO: Add @media queries.
  #sidebar{
    position: fixed;
    min-height: 100%;
    .well{
      min-height: 100%;
      position: absolute;
    }

    aside{
      article{
        &:first-child{
          margin-bottom: 25px;
        }
      }
    }
  }
}


// Directional Magic
// TODO : Need to move in Separate File.
$collection : ('left', 'right','top', 'bottom');

@each $direction in $collection {
  .no-#{$direction}-padding{
    padding-#{$direction}: 0;
  }

  .no-#{$direction}-margin{
    margin-#{$direction}: 0;
  }

  @for $i from 10 through 20{

    .minor-#{$direction}-spacing-#{$i}{
      margin-#{$direction}: $i + px;
    }

    .minor-#{$direction}-padding-#{$i}{
      padding-#{$direction}: $i + px;
    }
  }
}
