<section id="settings">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>User Preferences</h3>

      <div class="panel panel-primary">
        <div class="panel-heading">
          On the Wall
        </div>
        <div class="panel-body">
          <form>

            <div class="checkbox">
              <label>
                <input type="checkbox"> Show stories started by me.
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox"> Only show stories with rating greater than 7
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="year"/>
                Short stories with highest catch rate.
                <small class="text-muted minor-left-padding-10" tooltip-placement="right"
                       tooltip="Consectetur adipisicing elit. Soluta, tempore.">
                  What's this?
                </small>
              </label>
              <br/>
              <label>
                <input type="radio" name="year"/>
                Sort stories with highest global rate.
                <small class="text-muted minor-left-padding-10" tooltip-placement="right"
                       tooltip="Lorem ipsum dolor sit amet tempore.">
                  What's this?
                </small>
              </label>
              <br/>
              <label>
                <input type="radio" name="year" checked/>
                Sort stories by vote count.
              </label>
              <br/>
              <label>
                <input type="radio" name="year"/>
                Random order
              </label>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-primary">
      <div class="panel-heading">
        Hide Stories
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <h4>From Pages</h4>
            <tags-input ng-model="vm.tags.pages">
              <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
          </div>
          <div class="col-md-6">
            <h4>From People</h4>
            <tags-input ng-model="vm.tags.people">
              <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
          </div>
        </div>

      </div>
    </div>

      <div class="row minor-bottom-spacing-20">
        <div class="col-md-12 text-right">
          <input class="btn btn-primary" type="button" value="Save"/>
          <input class="btn btn-danger" type="button" value="Cancel" ng-click="vm.cancel()"/>
        </div>
      </div>

    </div>
  </div>

</section>
